* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eff3f8;
}

header {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background: url(/img/patternECOStransparente.png), linear-gradient(to bottom right, #295ba7, #78b454);
}

header a>img {
    width: 105px;
    height: 36px;
}

header a {
    padding: 14px;
    color: white;
    text-decoration: none;
}

header li {
    display: inline;
}

.text-right {
    padding: 3px;
    position: absolute;
    right: 0;
}

.text-right i {
    font-size: 24px;
    padding: 1px;
}

header input {
    width: 400px;
    height: 31px;
    background: transparent;
    color: rgba(53, 93, 154, 1.00);
    font-weight: bold;
    border: transparent;
    box-shadow: #295ba7;
    background-color: #356b6578;
    border-radius: 7px 0 0 7px;
    padding-left: 12px;
    color: white;
}

header button {
    height: 31px;
    border: transparent;
    background: transparent;
    background-color: #356b6578;
    border-radius: 0 7px 7px 0;
    color: white;
}

::placeholder {
    color: white;
}

main {
    max-width: 1200px;
    margin: 90px auto;
}

h5 {
    font-size: 12px;
    padding: 0 0 16px 16px;
    border-bottom: solid 1px #d9d9d9cb;
    line-height: 1.2;
}

.container {
    display: flex;
    justify-content: center;
}

.central-section {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    border-radius: 4px;
    background-color: #f8f9fa;
    max-width: 60%;
}

.central-section img {
    width: 200px;
}

.card-news {
    display: flex;
    height: 200px;
    width: 96%;
    margin: 0 10px 15px 15px;
}

.card-news h6 {
    font-size: 16px;
    margin: 0;
    padding-top: 8px;
}

.card-news div {
    display: block;
    padding: 0 16px;
}

.lateral-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 30%;
}

.card-process {
    margin-bottom: 20px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    border-radius: 4px;
    background-color: #f8f9fa;
}

.buttons-process {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 27px 18px;
}

.buttons-icons {
    display: grid;
    background-color: white;
    margin: 9px 9px;
    padding: 9px;
    width: 95px;
    height: 59px;
    text-align: center;
    border-radius: 10px;
    color: #33A76F;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    font-size: 0.rem;
    font-weight: bold;
}

.buttons-icons:hover {
    color: white;
    background: linear-gradient(to bottom right, #295ba7, #78b454);
}

.card-birthdays {
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    border-radius: 4px;
    background-color: #f8f9fa;
}

.card-birthdays h5 {
    padding: 16px 0 16px 16px;
    margin: 0;
}

.card-birthdays h6 {
    font-size: 15px;
    margin: 0 0 8px 0;
}

.card-birthdays img {
    border-radius: 50px;
    height: 65px;
    width: 65px;
}

.card-birthdays>div {
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: solid 1px #d9d9d9cb;
    align-items: center;
    padding-left: 20px;
}

.card-birthdays>div>div {
    padding-left: 20px;
}

.card-birthdays p {
    margin: 0;
    color: #6c757d;
    font-size: 0.9em;
}

.card-birthdays i {
    color: #595959;
    font-size: 14px;
    padding-right: 3px;
}

.shadow-border {
    border-radius: .25rem;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
    background-color: white;
}

@media (min-width:900px) and (max-width: 1150px) {
    .container {
        align-items: center;
        flex-direction: column-reverse;
    }

    .lateral-section {
        width: 80%;

    }
    
    .central-section {
        width: 80%;
    }

    .card-birthdays {
        display: none;
    }
}

@media (max-width: 900px)
{
  input , button ,strong , .text-right , .card-birthdays , .card-process , .lateral-section
   {
    display: none;
   }
 
   header{
       justify-content: space-evenly;
   }
  section , main{
      margin:45px auto;
  }
}