* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eff3f8;
}

header {
    display: flex;
    background: url(/img/patternECOStransparente.png), linear-gradient(to bottom right, #295ba7, #78b454);
    align-items: center;
    height: 70px;
    width: 100%;
}

header a>img {
    width: 105px;
    height: 36px;
}

header a {
    padding: 14px;
    color: white;
    text-decoration: none;
}

header li {
    display: inline;
}

.text-right {
    padding: 3px;
    position: absolute;
    right: 0;
}

.text-right i {
    font-size: 24px;
    padding: 1px;
}

header input {
    width: 400px;
    height: 31px;
    background: transparent;
    color: rgba(53, 93, 154, 1.00);
    font-weight: bold;
    border: transparent;
    box-shadow: #295ba7;
    background-color: #356b6578;
    border-radius: 7px 0 0 7px;
    padding-left: 12px;
    color: white;
}

header button {
    height: 33px;
    border: transparent;
    background: transparent;
    background-color: #356b6578;
    border-radius: 0 7px 7px 0;
    color: white;
}

::placeholder {
    color: white;
}

main {
    max-width: 1200px;
    margin: 10px auto;
}

h5 {
    font-size: 12px;
    padding: 0 0 16px 16px;
    margin-bottom: 20px;
    border-bottom: solid 1px #d9d9d9cb;
    line-height: 1.2;
}

.container {
    display: flex;
    justify-content: center!important;
    height: 100%;
}

.central-section {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    border-radius: 4px;
    background-color: #f8f9fa;
    max-width: 650px;
}

.central-section img {
    width: 200px;
}

.card-news {
    display: flex;
    height: 200px;
    width: 620px;
    margin: 0 10px 15px 15px;
}

.card-news h6 {
    font-size: 16px;
    margin: 0;
    padding-top: 8px;
}

.card-news div {
    display: block;
    padding: 0 16px;
}

.lateral-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 450px;
}

.card-process {
    margin-bottom: 20px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    border-radius: 4px;
    background-color: #f8f9fa;
}

.card-birthdays {
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    border-radius: 4px;
    background-color: #f8f9fa;
}

.card-birthdays h5 {
    padding: 16px 0 16px 16px;
    margin: 0;
}

.card-birthdays h6 {
    font-size: 15px;
    margin: 0;
    padding-top: 8px;
}

.card-birthdays img {
    border-radius: 50px;
    height: 65px;
    width: 65px;
}

.card-birthdays>div {
    display: flex;
    width: 450px;
    height: 100px;
    border-bottom: solid 1px #d9d9d9cb;
    align-items: center;
    padding-left: 20px;
}

.card-birthdays p {
    margin: 0;
}

.card-birthdays i {
    color: #6c757d;
    font-size: 14px;
}

.shadow-border {
    border-radius: .25rem;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
    background-color: white;
}